.filterBar {
  display: flex;
  justify-content: space-between; /* הכפתור ילך שמאלה, חבילת התאריכים ימינה */
  align-items: center;
  padding: 20px 25px;
  background: #0f0f0f;
  border-radius: 20px;
  margin-bottom: 30px;
  border: 1px solid rgba(212, 175, 55, 0.2);
}

.filterBar input {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 12px 16px;
  border-radius: 12px;
  color: white;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}

.filterBar input:focus {
  border-color: #dfb76c;
  outline: none;
}

.filterButton {
  margin: 0;
  /* צבע זהב קבוע */
  background-color: #dfb76c;
  color: #000;
  border: none;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: 600;
  cursor: pointer;
  /* מעבר חלק לאפקט הזוהר */
  transition: all 0.3s ease;
}
.filterButton:hover {
  /* הכפתור נשאר זהב, אבל מוסיפים לו צל זוהר מסביב */
  box-shadow: 0 0 15px rgba(223, 183, 108, 0.6);
  /* אפשר גם להגדיל אותו טיפה שירגיש אינטראקטיבי */
  transform: scale(1.02);
}

.dateWrapper {
  display: flex;
  gap: 15px; /* מרווח בין שני התאריכים */
}


.appointments_container {
  display: flex;
  flex-direction: column;
  gap: 30px; /* תעלה את זה מ-15 ל-30 כדי שיהיה מרווח ברור */
  width: 100%;
  align-items: center;
  padding-bottom: 40px; /* קצת אוויר גם בסוף הרשימה */
}